In [1]:
#OOPS
#Inheritance
# base class
class Animal:

    def eat(self):
        print( "I can eat!")

    def sleep(self):
        print("I can sleep!")

# derived class
class Dog(Animal):

    def bark(self):
        print("I can bark! Woof woof!!")

# Create object of the Dog class
dog1 = Dog()

# Calling members of the base class
dog1.eat()
dog1.sleep()

# Calling member of the derived class
dog1.bark();

I can eat!
I can sleep!
I can bark! Woof woof!!

In [2]:
#ENCAPSULATION
class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

# change the price
c.__maxprice = 1000
c.sell()

# using setter function
c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

In [3]:
#Polymorphism

class Polygon:
    # method to render a shape
    def render(self):
        print("Rendering Polygon...")

class Square(Polygon):
    # renders Square
    def render(self):
        print("Rendering Square...")

class Circle(Polygon):
    # renders circle
    def render(self):
        print("Rendering Circle...")

# create an object of Square
s1 = Square()
s1.render()

# create an object of Circle
c1 = Circle()
c1.render()

Rendering Square...
Rendering Circle...

In [5]:
#Class and Object

class Parrot:

    # class attribute
    name = ""
    age = 0

# create parrot1 object
parrot1 = Parrot()
parrot1.name = "Blu"
parrot1.age = 10

# create another object parrot2
parrot2 = Parrot()
parrot2.name = "Woo"
parrot2.age = 15

# access attributes
print(f"{parrot1.name} is {parrot1.age} years old")
print(f"{parrot2.name} is {parrot2.age} years old")

Blu is 10 years old
Woo is 15 years old

In [6]:
#SETS
set1 = set()
print("Initial blank Set: ")
print(set1)
set1 = set("ANJANA K AJEEV")
print("\nSet with the use of String: ")
print(set1)
set1 = set(["ANJANA", "K", "AJEEV"])
print("\nSet with the use of List: ")
print(set1)
set1 = set([1, 2, 'ANJANA', 4, 'K', 6, 'AJEEV'])
print("\nSet with the use of Mixed Values")
print(set1)

Initial blank Set:
set()

Set with the use of String:
{'J', 'V', 'E', 'K', ' ', 'N', 'A'}

Set with the use of List:
{'AJEEV', 'K', 'ANJANA'}

Set with the use of Mixed Values
{1, 2, 4, 6, 'AJEEV', 'ANJANA', 'K'}

In [7]:
#DICTIONARY

Dict = {}
print("Empty Dictionary: ")
print(Dict)
Dict = {1: 'ANJANA', 2: 'K', 3: 'AJEEV'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)
Dict = {'Name': 'ANJANA', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)
Dict = dict({1: 'ANJANA', 2: 'K', 3: 'AJEEV'})
print("\nDictionary with the use of dict(): ")
print(Dict)
Dict = dict([(1, 'ANJANA'), (2, 'AJEEV')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'ANJANA', 2: 'K', 3: 'AJEEV'}

Dictionary with the use of Mixed Keys:
{'Name': 'ANJANA', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'ANJANA', 2: 'K', 3: 'AJEEV'}

Dictionary with each item as a pair:
{1: 'ANJANA', 2: 'AJEEV'}

In [4]:
#TUPLES
tuple1 = tuple([1, 2, 3, 4, 5])
print("First element of tuple")
print(tuple1[0])
print("\nLast element of tuple")
print(tuple1[-1])

print("\nThird last element of tuple")
print(tuple1[-3])

First element of tuple
1

Last element of tuple
5

Third last element of tuple
3